[submodule "StepWay/vendor/spdlog"]
	path = StepWay/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Dependencies/google_test"]
	path = Dependencies/google_test
	url = https://github.com/google/googletest.git
[submodule "StepWay/vendor/imgui"]
	path = StepWay/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "StepWay/vendor/glm"]
	path = StepWay/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "StepWay/vendor/implot"]
	path = StepWay/vendor/implot
	url = https://github.com/epezent/implot.git
